@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: #F4F4F4;
   font-family: 'Poppins', sans-serif;
   -webkit-font-smoothing: antialiased;
   height: 100vh;
}

.scrollbar::-webkit-scrollbar {
   width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
   @apply bg-gray-200 rounded-full hover:bg-gray-300 transition-colors
}

.MuiLinearProgress-barColorPrimary {
   @apply bg-green-400 !important 
}
.MuiLinearProgress-determinate {
   @apply bg-gray-200 !important 
}
